body {
	margin: 0;
	background-color: #fff;
	color: #444;
	font: 87.5%/1.2 -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

.nav-menu ul a,.post-content .more a,a {
	border: 0;
	color: #666;
	text-decoration: none;
}

#footer .links a:hover,.comment-author a:hover,.icpnum:hover,.rewards a:hover,.tags a:hover,a:hover {
	color: #333;
}

h1,h1.post-title {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

code,pre {
	background: #f3f3f3;
	font-size: .9em;
	font-family: Consolas,Inconsolata,Courier,monospace,"PingFang SC","Microsoft YaHei",sans-serif;
}

code {
	padding: 2px 4px;
	color: #b94a48;
}

pre {
	overflow: auto;
	padding: 8px;
	max-height: 400px;
}

pre code {
	display: block;
	padding: 3px;
	color: #444;
}

blockquote {
	margin: 1em 0;
	padding-left: 1.5em;
	border-left: 4px solid #eee;
	background: #fcfcfc;
	color: #666;
}

table {
	width: 100%;
	border: 1px solid #ddd;
}

table td,table th {
	padding: 5px 10px;
	border: 1px solid #eee;
}

table th {
	background: #f3f3f3;
}

button,input,textarea {
	margin: 0;
	font-size: 100%;
	font-family: inherit;
	line-height: 1.2;
}

input,textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 30px;
	border: 1px solid #eee;
	border-radius: 2px;
	box-shadow: none;
}

textarea {
	overflow: auto;
	height: 150px;
	resize: vertical;
}

button,input[type=submit] {
	padding: 0 6px;
	border: 0;
	background: #ddd;
}

#cornertool a,.menu-parent a,.rewards a,button,input[type=submit] {
	cursor: pointer;
}

.browsehappy {
	padding: 8px 0;
	background: #fbe3e4;
	color: #8a1f11;
	text-align: center;
}

.browsehappy a {
	color: #8a1f11;
	text-decoration: underline;
	font-weight: 700;
}

.clearfix {
	zoom: 1;
}

.clearfix:after,.clearfix:before {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 1060px;
}

.head-fixed .browsehappy {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.head-fixed #header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background: rgba(255,255,255,.95);
}

.head-fixed #body {
	padding-top: 71px;
}

#header {
	padding: 15px 0;
	border-bottom: 1px solid #eee;
	line-height: 40px;
}

.comment-form p,.site-name {
	float: left;
}

.site-name h1 {
	display: table-cell;
	margin: 0;
	height: 40px;
	vertical-align: middle;
	font-weight: 400;
	font-size: 1.7em;
}

#logo,.post-title a {
	color: #333;
}

#logo img {
	display: block;
	max-height: 30px;
}

#nav-swith {
	position: relative;
	float: right;
	margin-left: 5px;
	color: #444;
}

#nav-swith,#search button {
	top: 5px;
	right: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	background: 0;
}

#nav-swith:before,#search button:before {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 9px;
	height: 9px;
	border: solid 2px currentColor;
	border-radius: 50%;
	content: "";
}

#nav-swith:after,#search button:after {
	position: absolute;
	top: 19px;
	left: 17px;
	width: 6px;
	height: 2px;
	background: currentColor;
	content: "";
}

#music span,#nav,#nav-swith span,#nav-swith:after,#nav-swith:before,#site-search,.menu-parent ul,.nav-menu,.rewards img {
	-webkit-transition: .2s;
	transition: .2s;
}

.on #nav-swith:after,.on #nav-swith:before {
	position: absolute;
	top: 14px;
	left: 6px;
	width: 18px;
	height: 2px;
	border: 0;
	border-radius: 0;
	background: currentColor;
	content: "";
}

.on #nav-swith:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

#nav-swith:after,#search button:after,.on #nav-swith:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

#nav-swith span {
	display: block;
	visibility: hidden;
	width: 18px;
	height: 2px;
	background: currentColor;
}

#nav {
	position: relative;
	float: right;
}

.on #site-search {
	top: 0;
	visibility: visible;
	opacity: 1;
}

#site-search {
	position: absolute;
	top: -10px;
	right: 0;
	visibility: hidden;
	width: 200px;
	opacity: 0;
}

#search,.l_logo,.loading,.menu-parent,.rewards {
	position: relative;
}

#search input {
	padding-right: 30px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #999;
	border-radius: 0;
	background: 0;
	text-align: center;
}

#search button {
	position: absolute;
	color: #666;
}

.comment-list,.comment-list ol,.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu li {
	display: inline-block;
	margin: 0 10px;
}

.nav-menu a {
	color: #444;
}

.nav-menu a:hover,.page-navigator a:hover {
	border-bottom: 1px solid #444;
}

.menu-parent ul {
	position: absolute;
	left: 50%;
	visibility: hidden;
	margin: 0 0 0 -50px;
	padding: 0;
	width: 100px;
	border-radius: 5px;
	background: rgba(238,238,238,.95);
	list-style: none;
	text-align: center;
	opacity: 0;
}

.menu-parent:hover>ul,.rewards a:hover img {
	visibility: visible;
	opacity: 1;
}

.menu-parent ul:before {
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -7px;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(238,238,238,.95);
	border-left: 7px solid transparent;
	content: "";
}

#cornertool a:before,.menu-parent li {
	display: block;
}

.menu-parent ul a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu-parent .menu-parent .menu-child {
	background: rgba(221,221,221,.95);
}

#bar,.loading:after {
	position: fixed;
	top: 0;
	height: 3px;
	background: #333;
	animation: loading 1s infinite;
	-webkit-animation: loading 1s infinite;
}

@keyframes loading {
	0% {
		right: 50%;
		left: 50%;
	}

	30% {
		right: 0;
		left: 0;
	}

	100% {
		right: 50%;
		left: 50%;
	}
}

@-webkit-keyframes loading {
	0% {
		right: 50%;
		left: 50%;
	}

	30% {
		right: 0;
		left: 0;
	}

	100% {
		right: 50%;
		left: 50%;
	}
}

#main {
	float: left;
	width: 70%;
}

#main>:not(.breadcrumbs) {
	animation: upin .3s;
	-webkit-animation: upin .3s;
}

@keyframes upin {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes upin {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.breadcrumbs {
	margin: 15px 0 -15px;
	color: #666;
}

.post {
	padding: 15px 0;
}

.post-title {
	margin: .83em 0;
	font-size: 1.27em;
}

.post-meta {
	margin-top: -.5em;
	padding: 0;
	color: #666;
	font-size: .9em;
}

.post-meta li {
	display: inline-block;
	margin-right: 8px;
	padding-left: 12px;
	border-left: 1px solid #eee;
}

.post-meta li:first-child {
	padding: 0;
	border: 0;
}

.whisper .post-content {
	margin-top: 1em;
	padding: 0 1em;
	min-height: 40px;
	border: 1px solid #444;
	border-radius: 2px;
	text-align: center;
}

.whisper .post-title {
	margin: 0 -1em;
	font-weight: 400;
	font-size: 1em;
}

.whisper.post .post-title a {
	display: block;
	padding: 2px 1em;
	border: 0;
	background: #444;
	color: #fff;
}

.post-content .links a,.whisper .post-title a {
	-webkit-transition: .3s;
	transition: .3s;
}

.whisper .post-title a:hover {
	background: #000;
}

.whisper .post-content pre {
	text-align: left;
}

.whisper .notice {
	display: block;
	padding: 5px;
	border: 1px solid;
	border-radius: 2px;
	color: #f44336;
	font-size: .9em;
}

.comment-content,.post-content {
	word-wrap: break-word;
	line-height: 1.5;
}

.comment-content a,.post-content a {
	border-bottom: 1px solid #eee;
	color: #3354aa;
}

.comment-content a:hover,.nav-menu ul a:hover,.post-content a:hover {
	border: 0;
	color: #333;
}

.comment-content img,.comment-content video,.post-content img,.post-content video,.whisper img,.whisper video {
	max-width: 100%;
}

#footer p,.comment-content ul li p,.post-content ul li p {
	margin: 0;
}

.comment-content hr,.post-content hr {
	margin: 2em auto;
	width: 100px;
	border: 1px solid #ddd;
	border-width: 2px 0 0 0;
}

#main .more,.thumb {
	text-align: center;
}

.protected input {
	width: auto;
}

.post .tags,.rewards {
	clear: both;
}

.comment-author a,.rewards a,.tags a {
	color: #3354aa;
}

.rewards img {
	position: absolute;
	top: 0;
	left: 50%;
	visibility: hidden;
	margin: -15% 0 0 -15%;
	padding: 5px;
	max-width: 30%;
	background: #eee;
	opacity: 0;
}

.post-near {
	margin: 30px 0;
	padding: 0;
	color: #999;
	list-style: none;
}

.post-near li {
	margin: 10px 0;
}

.page-navigator {
	margin: 25px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.page-navigator li {
	display: inline-block;
	margin: 0 5px;
	height: 24px;
	line-height: 24px;
}

.page-navigator a {
	padding: 0 2px;
}

.page-navigator .current a {
	border-bottom: 1px solid #444;
	color: #444;
}

.ajaxload li,.whisper .comment-reply {
	display: none;
}

.ajaxload .next {
	display: block;
	color: #666;
}

.ajaxload a {
	padding: 5px 20px;
	border: 1px solid #666;
	border-radius: 2px;
}

.ajaxload a:hover {
	border-color: #333;
}

.ajaxload .loading,.ajaxload .loading:hover,.post-content .more .loading {
	padding: 5px;
	border: 0;
	color: #333;
}

.loading:after {
	position: absolute;
	top: auto;
	bottom: 0;
	display: block;
	height: 1px;
	content: "";
}

#comments {
	margin-bottom: 30px;
	padding-top: 15px;
	border-top: 1px solid #eee;
}

.whisper .comment-list li.comment-by-author,.whisper>.comment-list>li {
	padding: 20px 10px;
	border: 0;
	border-bottom: 1px solid #eee;
	background: 0;
}

.whisper>.comment-list>li:last-child {
	border: 0;
}

.whisper .comment-content,.whisper .comment-meta {
	margin-left: 42px;
}

.comment-list li {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #eee;
}

.comment-list li.comment-level-odd {
	background: #f7f7f7;
}

.comment-list li.comment-level-even {
	background: #fff;
}

.comment-list li.comment-by-author {
	position: relative;
	background: #f2f7fc;
}

.author-icon {
	position: absolute;
	top: 8px;
	left: -15px;
	display: block;
	width: 60px;
	height: 15px;
	background: linear-gradient(135deg,transparent 30%,rgba(230,230,230,.8) 0) left,linear-gradient(-135deg,transparent 30%,rgba(230,230,230,.8) 0) right;
	background-size: 50% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-size: .83em;
	line-height: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.comment-list li .comment-reply {
	text-align: right;
	font-size: .9em;
}

.comment-meta time {
	color: #999;
	font-size: .9em;
}

.comment-author {
	display: block;
	margin-bottom: 3px;
	color: #444;
}

.comment-author .avatar {
	float: left;
	margin-right: 10px;
}

.comment-author cite {
	font-weight: 700;
	font-style: normal;
}

.comment-list .respond {
	margin-top: 15px;
	border-top: 1px solid #eee;
}

.respond .cancel-comment-reply {
	float: right;
	margin-top: 15px;
	font-size: .9em;
}

.comment-form input {
	margin-bottom: 10px;
}

.comment-form .textarea {
	margin: 0 2% 0 0;
	width: 68%;
}

.comment-form .textbutton {
	margin: 0;
	width: 30%;
}

#comment-form button {
	width: 100%;
	height: 30px;
	border-radius: 2px;
}

#secondary {
	margin-left: 75%;
	padding-top: 15px;
	word-wrap: break-word;
}

#secondary .more {
	display: block;
	font-size: .875em;
}

.widget {
	margin-bottom: 30px;
}

#cornertool ul,.links,.widget-list,.widget-tile {
	padding: 0;
	list-style: none;
}

.widget-list li {
	margin: 5px 0;
	line-height: 1.6;
}

.widget-list li ul {
	margin-left: 15px;
}

.widget-tile {
	margin-right: -5px;
	margin-left: -5px;
}

.widget-tile li {
	display: inline-block;
	margin: 5px;
	color: #666;
	line-height: 1.6;
}

#footer {
	padding: 2em 0;
	border-top: 1px solid #eee;
	text-align: center;
	font-size: .875em;
	line-height: 1.5;
}

#footer,#footer .links a,.icpnum {
	color: #999;
}

.post-content .links {
	letter-spacing: -9em;
}

.post-content .links li {
	display: inline-block;
	width: 25%;
	letter-spacing: 0;
}

.post-content .links a {
	display: block;
	overflow: hidden;
	margin: 5px 10px;
	padding: 5px 10px;
	height: 20px;
	border: 0;
	border-radius: 2px;
	background: #fcfcfc;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	color: #444;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
}

.post-content .links a:hover {
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.post-content .links .l_logo {
	padding-left: 40px;
}

.l_logo i,.l_logo img {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 7px;
	width: 16px;
	height: 16px;
	background: #ccc;
}

.l_logo i {
	font: 16px/1 Segoe UI Symbol;
}

#cornertool ul,#footer .links {
	margin: 0;
	text-align: center;
}

#footer .links li {
	display: inline-block;
	margin: 0 3px 2px;
}

#cornertool {
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: 540px;
}

#cornertool ul li {
	display: none;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	background: #000;
	line-height: 40px;
	opacity: .7;
}

#cornertool ul a {
	position: relative;
	display: block;
	color: #fff;
}

#top a:before {
	content: "\25b2";
}

#top a:hover:before {
	content: "Top";
}

#music span {
	position: absolute;
	bottom: 0;
	display: block;
	width: 0;
	height: 5px;
	background: #222;
}

#music.play span {
	width: 100%;
}

#music.play span i {
	display: block;
	width: 0;
	height: 5px;
	background: #999;
}

.pause a:before,.play a:before {
	content: "\266b";
}

.pause a:hover:before {
	content: "\25b2";
}

.play a:before {
	animation: play 5s linear infinite;
	-webkit-animation: play 5s linear infinite;
}

@keyframes play {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes play {
	0% {
		-webkit-transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.play a:hover:before {
	content: "\3013";
	animation: 0;
	-webkit-animation: 0;
}

.pause a:hover:before,.play a:hover:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.error-page {
	margin: 100px 0;
	text-align: center;
}

#archives li {
	margin: 5px 0;
}

@media(min-width:601px) {
	.on .nav-menu {
		visibility: hidden;
		opacity: 0;
	}

	.menu-parent .menu-parent .menu-child {
		top: 5px;
		left: -120px;
		margin: 0;
	}

	.menu-parent .menu-parent:hover>.menu-child {
		left: -100px;
	}

	.menu-parent .menu-parent .menu-child:before {
		top: 7px;
		left: 100%;
		margin: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 7px solid rgba(221,221,221,.95);
	}
}

@media(max-width:1170px) {
	#cornertool {
		right: 5px;
		left: auto;
		margin-left: 0;
	}
}

@media(max-width:990px) {
	#secondary {
		margin-left: 72%;
	}

	#cornertool ul li {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
}

@media(max-width:768px) {
	body {
		font-size: 81.25%;
	}

	#main {
		width: 100%;
	}

	#secondary {
		display: none;
	}

	.post-meta,.post-title,.protected .post-content {
		text-align: center;
	}
}

@media(max-width:600px) {
	#nav-swith {
		margin: 0;
	}

	#nav-swith:after,#nav-swith:before {
		left: 6px;
		width: 18px;
		height: 2px;
		border: 0;
		border-radius: 0;
		background: currentColor;
		-webkit-transform: none;
		transform: none;
		-ms-transform: none;
	}

	#nav-swith:after {
		top: 21px;
	}

	#nav-swith span {
		visibility: visible;
	}

	.on #nav-swith span {
		visibility: hidden;
		opacity: 0;
	}

	#nav {
		overflow: hidden;
		width: 100%;
		max-height: 0;
		text-align: center;
	}

	.on #nav {
		max-height: 240px;
	}

	.head-fixed .on #nav {
		margin-bottom: 5px;
	}

	.nav-menu {
		overflow: auto;
		max-height: 200px;
	}

	.nav-menu a,.nav-menu li {
		display: block;
	}

	.nav-menu a:hover {
		border: 0;
		font-weight: 700;
	}

	.nav-menu::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	.nav-menu::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background-color: #eee;
	}

	.menu-parent ul {
		position: relative;
		left: 0;
		visibility: visible;
		margin: 0 auto;
		width: 75%;
		opacity: 1;
	}

	.menu-parent .menu-parent .menu-child:before {
		border-bottom: 7px solid rgba(221,221,221,.95);
	}

	#site-search {
		position: static;
		margin: 0 auto;
		width: 50%;
	}

	.post-content .links li {
		width: 33.33333%;
	}

	.comment-form .textarea {
		width: 58%;
	}

	.comment-form .textbutton {
		width: 40%;
	}
}

@media(max-width:420px) {
	.post-content .links li {
		width: 50%;
	}
}
